<!DOCTYPE html>
<html>
    <head>
        <title>Job server for ISS jobs</title>
        <link rel="stylesheet" type="text/css" href="/beauter.min.css" />
    </head>
    <body>
        <ul class="topnav">
            <li><a class="brand">ISS job server</a></li>
            <li><a id="homelink" href="/">Submit new job</a></li>
            <li><a id="joblink" href="/view">View jobs</a></li>
        </ul>
        <div style="padding: 25px">
            {% if message != "" %}
            <div class="alert _warning _shadow"><span class="-close">×</span>{{message}}</div><br />
            {% endif %}
            {% if currently_running != [] %}
            <div class="alert _shadow">There {{currently_running|plural("is","are")}} currently {{currently_running|length}} job{{currently_running|plural}} running:
                <ul>{% for name in currently_running %}
                <li><a href="/view?job={{name}}" class="_t-black">{{name}}</a></li>
                {% endfor %}
                </ul>
            </div><br />
            {% endif %}
            <h2>Submit a new job</h2>
            <form method="post" action="/submit" enctype="multipart/form-data">
                <fieldset>
                    <label for="inifile">Config (.ini) file  <a href="#" onclick="openmodal('inihelp')">(help)</a> </label>
                    <input type="file" name="inifile" required /><br />
                    <label for="jobname">Your name</label>
                    <input type="text" pattern="[A-Za-z0-9 ]+" title="Only alphanumeric or spaces" name="username" /><br />
                    <label for="jobname">Job name (optional)</label>
                    <input type="text" pattern="[A-Za-z0-9_]+" title="Only alphanumeric or underscores" name="jobname" /><br />
                    <label for="pass">Password</label>
                    <input type="password" name="pass" required /><br />
                    <input type="submit" value="Submit" />
                </fieldset>
            </form>
        </p>
        <div id="inihelp" class="modalbox-modal ">
            <div class="modalbox-modal-content">
                <span class="-close">✖</span>
                <p>The .ini file should use the following paths:</p>
                <ul>
                    <li>The output location and tile location will be changed to <span style="font-family:monospace">//zinu/Subjects/ISS/output/[your experiment name]</span></li>
                    <li>Please use Windows notation (starting with //) or Mac notation (starting with smb://) to refer to remote locations.  Do NOT mapped drive letters (e.g. Z:\)</li>
                    <li>Servers currently supported: {{servers|join(", ")}}</li>
                </ul>
            </div>
        </div>
        <script src="/beauter.min.js"></script>
    </body>
</html>
